{% load i18n %}
{% load staticfiles %}
{% load absolute_urls %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% trans "[IsItTheOnion]" %}{% endblock title %}</title>
{#<link href='//fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>#}
{% static "css/email.css" as css_url %}{% absolute_url url=css_url as absolute_css_url %}
<link href="{{ absolute_css_url }}" media="all" rel="stylesheet" type="text/css" />
<STYLE type="text/css">@media only screen and (max-width: 640px) {
  body {
    padding: 0 !important;
  }

  h1, h2, h3, h4 {
    font-weight: 800 !important;
    margin: 20px 0 5px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  .container {
    padding: 0 !important;
    width: 100% !important;
  }

  .content {
    padding: 0 !important;
  }

  .content-wrap {
    padding: 0 !important;
  }
  .content-block, .header, .footer {
    padding: 10px !important;
  }

  .invoice {
    width: 100% !important;
  }
}</STYLE>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Confirm Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
                                {% block header %}
                                <tr>
									<td class="header bg-blue">
                                        {% block header_text %}<h1>{% trans "Hi!" %}</h1>{% endblock %}
									</td>
								</tr>
                                {% endblock %}
								{% block main_content %}
                                <tr>
									<td class="content-block">
										{% trans "Please confirm your email address by clicking the link below." %}
                                    </td>
								</tr>
                                {% endblock %}
                                {% block signature %}
                                <tr>
									<td class="content-block bg-orange">
                                        {% blocktrans %}
                                            Thanks again, <br/>
                                            <a href="https://isittheonion.com">isittheonion.com team</a>
                                        {% endblocktrans %}
									</td>
								</tr>
                                {% endblock %}
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
                        {% block footer %}
						<tr>
							<td class="aligncenter content-block">{% blocktrans %}
                                Yo!
                            {% endblocktrans %}</td>
						</tr>
                        {% endblock %}
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>