{% extends "onion/email/base_email.html" %}
{% load i18n %}
{% load staticfiles %}
{% load absolute_urls %}
{% block title %}{% blocktrans with charity_name=page.name %}[isittheonion.com] Thank you for you submission to isittheonion.com, {{ name }}!{% endblocktrans %}{% endblock title %}
{% block header_text %}<h1>{% blocktrans with charity_name=page.name %}Thank you for you submission to isittheonion.com, {{ name }}!{% endblocktrans %}</h1>{% endblock %}
{% block main_content %}
<tr>
    <td class="content-block">
        {% blocktrans %}<p>Thank you for your recent submission to isittheonion.com. We will review it as soon as possible.</p>
            <p>Your submission:</p>{% endblocktrans %}
        {% autoescape off %}
        <table class="table">
        <tr>
            <td>{% trans "IP Address" %}</td>
            <td>{{ request.META.REMOTE_ADDR }}</td>
        </tr>
        <tr>
            <td>{% trans "Name" %}</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>{% trans "Email" %}</td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>{% trans "Offending URL" %}</td>
            <td>{{ offending_url }}</td>
        </tr>
        <tr>
            <td>{% trans "Comment" %}</td>
            <td>{{ comment }}</td>
        </tr>
        </table>
    {% endautoescape %}
    </td>
</tr>
{% endblock %}