#is_it > div {
    display: none;
}

#is_it .result {
    background: #dddddd;
    padding: 20px;
    margin-top: 30px;
}

.result .source {
    text-align: right;
    font-style: italic;
}

#big_input {
    background: #006b3a;
    text-align: center;
    padding: 20px 20px 40px 20px;
}

#big_input h1 {
    color: #fff;
}

#big_input input {
    width: 80%;
    padding: 10px 5px;
    height: 44px;
    font-size: 20px;
}

#big_input button {
    width: 10%;
    margin-left: 5%;
    height: 44px;
    min-width: 100px;
    font-size: 20px;
    color: #000;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

footer.stick {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 10px;
}

#CookielawBanner {
    background: #BADECE;
    margin-bottom: 20px;
}
#CookielawBanner h6 {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

section {
    height: 100%;
    padding-top: 150px;
    background: #fff;
}