{% load i18n %}
{% load staticfiles %}
{% load cookielaw_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"pl" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
      <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
  <![endif]-->
    <link rel="stylesheet" href="{% static "css/main.css" %}">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <a class="navbar-brand page-scroll" href="{% url "onion:index" %}">{% trans "Home" %}</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="page-scroll" href="#about">{% trans "About" %}</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'two_factor:profile' %}">{% trans "Profile" %}</a>
                </li>
                <li>
                    <a href="{% url 'admin:logout' %}">{% trans "Log out" %}</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </nav>
  <section id="main">
  {% cookielaw_banner %}
  {% block content_wrapper %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}
  </section>
  <section id="about">
  <div class="container">
  <h2>{% trans "About" %}</h2>
  <p>{% blocktrans %}Sometimes the news are just too good to be true. Sometimes this is because they aren't!{% endblocktrans %}</p>
  <p>{% blocktrans %}This site lets you check against an array of known spoof websites. The list comes from <a href="http://www.fakenewswatch.com/" target="_blank">fakenewswatch.com</a>.{% endblocktrans %}</p>
  </div>

  </section>
      <footer class="stick">
      <div class="container">
      <p class="text-muted top-margin">{% blocktrans %}Lovingly made by <a href="https://twitter.com/thektokolwiek" target="_blank">Łukasz Kopeć</a>. Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a>.<br/>
            Disclaimer: This site is NOT affiliated with the Onion, the satirical news website.{% endblocktrans %}</p>
      </div>
      </footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{% static "cookielaw/js/cookielaw.js" %}"></script>
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/scrolling-nav.js" %}"></script>
    {% block extrascripts %}{% endblock %}
</body>
</html>