{% extends "onion/_base.html" %}
{% load i18n %}
{% block title %}{% trans "Is it the Onion?" %}{% endblock %}
{% block extrascripts %}
    <script>
    $(document).ready(function() {

    // process the form
    $('#isit_form').submit(function(event) {

        // get the form data
        // there are many ways to get this data using jQuery (you can use the class or id also)
        var formData = {
            'uri'              : $('input[name=uri]').val(),
            'csrfmiddlewaretoken': $.cookie('csrftoken'),
        };

        // process the form
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '', // the url where we want to POST
            data        : formData, // our data object
            dataType    : 'json', // what type of data do we expect back from the server
            encode          : true
        })
            // using the done promise callback
            .done(function(data) {
                var resp = data['response'];
                var type = '';
                $('#is_it').find('> div').hide();
                if (resp['onion']) {
                    $('#onion').show();
                    type='onion';
                } else if (resp['clickbait']) {
                    $('#clickbait').show();
                    type='clickbait';
                } else if(resp['fake']) {
                    $('#fake').show();
                    type='fake';
                } else if(resp['satire']) {
                    $('#satire').show();
                    type='satire';
                } else if(resp['stupid']) {
                    $('#stupid').show();
                    type='stupid';
                } else {
                    $('#ok').show();
                    $.get("{% url 'onion:send' %}", function(data) {
                        $('#submitBody').html(data);
                        $('#id_offending_uri').val( $('input[name=uri]').val());
                    } );

                    type='ok';
                }
                $("#"+type+" .domain").html(resp['page']);
                // log data to the console so we can see
                console.log(data);

                // here we will handle errors and validation messages
            });

        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

});
    </script>
{% endblock %}
{% block content %}
    <form id="isit_form" action="" method="post">
    {% csrf_token %}
        <div id="big_input" class="row">
            <div class="col-md-12"><h1>{% trans "Is it the Onion?" %}</h1></div>
                {{ form.uri }}
                <button type="submit" name="submit">{% trans "Check" %}</button>
        </div>
    </form>

<div id="is_it" class="row">

    <div id="onion" class="result">
        <h2>{% trans "Yes, it IS the onion!" %}</h2>
        {% trans "Were you expecting something else?" %}
    </div>
    <div id="clickbait" class="result">
        <h2>{% trans "It's NOT the onion, but it is a different <em>clickbait</em> page!" %}</h2>
        {% blocktrans %}
        The page <span class="domain"></span> has been marked as <a href="https://en.wikipedia.org/wiki/Clickbait" target="_blank">clickbait</a>.
            You should probably take their news with a pinch of salt.
        {% endblocktrans %}
        <div class="source"><a href="http://www.fakenewswatch.com/" target="_blank">{% trans "source: fakenewswatch.com" %}</a></div>
    </div>
    <div id="fake" class="result">
        <h2>{% trans "It's NOT the onion, but it is a different <em>fake news</em> page!" %}</h2>
        {% blocktrans %}
        The page <span class="domain"></span> has been marked as <a href="https://en.wikipedia.org/wiki/Fake_news" target="_blank">fake news</a>.
            You should probably take their news with a pinch of salt.
        {% endblocktrans %}
        <div class="source"><a href="http://www.fakenewswatch.com/" target="_blank">{% trans "source: fakenewswatch.com" %}</a></div>
    </div>
    <div id="satire" class="result">
        <h2>{% trans "It's NOT the onion, but it is a different <em>news satire</em> page!" %}</h2>
        {% blocktrans %}
        The page <span class="domain"></span> has been marked as <a href="https://en.wikipedia.org/wiki/News_satire" target="_blank">news satire</a>.
            Although funny, you should probably take their news with a pinch of salt.
        {% endblocktrans %}
        <div class="source"><a href="http://www.fakenewswatch.com/" target="_blank">{% trans "source: fakenewswatch.com" %}</a></div>
    </div>
    <div id="stupid" class="result">
        <h2>{% trans "It's NOT the onion, and strictly speaking not fake, but should you <em>really</em> trust them?" %}</h2>
        {% blocktrans %}
        Seriously, <span class="domain"></span>? You should know better.
        {% endblocktrans %}
    </div>
    <div id="ok" class="result">
        <h2>{% trans "It's NOT the onion!" %}</h2>
        {% blocktrans %}
        You're safe for now! <span class="domain"></span> is not on our list!
            But really, you should check their sources. A couple of helpful links:
            <ul>
<li><a href="http://www.fortliberty.org/hoax-sites.html">Fort Liberty</a></li>
<li><a href="http://p2t2solutions.com/tired-of-being-spoofed-by-fake-news-lies-rumors/">P2T2 Solutions</a></li>
<li><a href="http://LincolnReport.com">Lincoln Report</a></li>
<li><a href="http://www.newrepublic.com/article/118013/satire-news-websites-are-cashing-gullible-outraged-readers">New Republic</a></li>
<li><a href="http://rationalwiki.org/">Rational Wiki</a></li>
<li><a href="http://snopes.com">Snopes</a></li>
<li><a href="http://urbanlegends.about.com/">Urban Legends – About Entertainment</a></li>
</ul>
            If you find it should go on our list, <a data-toggle="modal" data-target="#report">
  let us know!
</a>
        {% endblocktrans %}
    </div>
</div>

<div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="reportLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="submitBody">
      ...
    </div>
  </div>
</div>
{% endblock %}
