{% load i18n %}
{% load bootstrap3 %}
<form action="{% url "onion:send" %}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="reportLabel">{% trans "Report website" %}</h4>
    </div>
    <div class="modal-body">

        {% csrf_token %}
        {% bootstrap_form form %}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Nevermind!" %}</button>
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>

</form>